In [ ]:
import pandas as pd

In [2]:
ENGINE='pyarrow' #or fastparquet
#PATH='/Users/shoh/Projects/CMS/PhD/Analysis/SSL/LambdaBigData/NanoaodParquet'
PATH='/Users/shoh/Projects/CMS/PhD/Analysis/SSL/LambdaBigData/Prodv1'
#NOT WORKING
#df=pd.read_parquet('%s/TTJets_SingleLeptFromTbar_TuneCUETP8M1_13TeV-madgraphMLM-pythia8_ext1-v1.parquet' %PATH, engine='%s' %ENGINE)

In [3]:
import pyarrow.parquet as pq
#from fastparquet import ParquetFile
table = pq.read_table('%s/TTJets_SingleLeptFromTbar_TuneCUETP8M1_13TeV-madgraphMLM-pythia8_ext1-v1.parquet' %PATH)
#table = ParquetFile('%s/TTJets_SingleLeptFromTbar_TuneCUETP8M1_13TeV-madgraphMLM-pythia8_ext1-v1.parquet' %PATH)

In [4]:
table.to_pandas()

,Muon_mediumId,Muon_softId,Muon_tightId,Electron_cutBased,HLT_Ele25_WPTight_Gsf,HLT_Ele27_eta2p1_WPLoose_Gsf,HLT_Ele105_CaloIdVT_GsfTrkIdT,HLT_IsoMu22,HLT_IsoMu22_eta2p1,HLT_IsoMu24,HLT_IsoTkMu22_eta2p1,HLT_IsoTkMu24,HLT_Mu45_eta2p1,HLT_Mu50
0,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
1,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
2,"[1, 1]","[1, 1]","[1, 1]","[0, 0, 0]",0,0,0,1,1,1,1,1,0,0
3,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
4,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
5,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
6,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,0,0,0,0,0,0,0
7,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
8,"[1, 1, 1]","[1, 1, 1]","[1, 1, 0]",[0],0,0,0,1,1,1,1,1,0,0
9,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,0,0
10,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
11,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
12,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,0
13,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
14,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
15,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
16,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,0,0
17,"[1, 1]","[1, 1]","[0, 1]",[0],0,0,0,0,0,0,0,0,0,0
18,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,0
19,"[1, 1, 1]","[1, 1, 1]","[1, 1, 1]",[0],0,0,0,1,1,1,1,1,0,0
20,"[1, 1, 1]","[1, 1, 1]","[1, 1, 0]",[0],0,0,0,1,1,1,0,0,0,0
21,"[1, 0]","[1, 0]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
22,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
23,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
24,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",[0],0,0,0,1,1,1,1,1,1,1
25,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
26,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,0,0,0,0,0,0,0
27,"[1, 1]","[1, 1]","[1, 1]","[0, 0, 0]",0,0,0,1,1,1,1,1,1,1
28,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
29,"[1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1, 1]",[0],0,0,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089167,"[1, 1, 1]","[1, 1, 0]","[1, 1, 0]",[0],0,0,0,1,1,1,1,1,1,1
1089168,"[1, 1]","[1, 1]","[1, 1]","[4, 0]",0,0,0,0,0,0,0,0,1,0
1089169,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,0,1,0,1,0,0
1089170,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,0,0
1089171,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,0,0,0,0,0,1,1
1089172,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
1089173,"[1, 1]","[1, 1]","[1, 1]","[0, 1]",0,0,0,1,1,1,1,1,0,0
1089174,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
1089175,"[1, 1]","[1, 1]","[1, 1]","[0, 0, 0, 0]",0,0,0,1,1,1,1,1,0,0
1089176,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
1089177,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
1089178,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
1089179,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
1089180,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,0
1089181,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
1089182,"[1, 1, 1]","[1, 1, 1]","[1, 1, 1]","[0, 0, 0]",0,0,0,0,0,0,0,0,0,0
1089183,"[0, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,0,1,0,1,0,0
1089184,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
1089185,"[1, 1, 0]","[1, 1, 0]","[1, 1, 0]","[0, 0]",0,0,0,0,0,0,1,1,0,0
1089186,"[1, 0]","[1, 0]","[1, 0]","[0, 0]",0,0,0,1,1,1,1,1,0,0
1089187,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
1089188,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,0
1089189,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,1,1
1089190,"[1, 0, 1]","[1, 1, 1]","[1, 1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
1089191,"[1, 1]","[1, 1]","[1, 1]","[0, 0]",0,0,0,1,1,1,1,1,1,1
1089192,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
1089193,"[1, 0, 0, 0]","[1, 0, 0, 0]","[1, 0, 0, 0]",[0],0,0,0,1,1,1,1,1,0,0
1089194,"[1, 1, 1]","[1, 1, 1]","[1, 1, 1]",[0],0,0,0,1,1,1,1,1,0,0
1089195,"[1, 1]","[1, 1]","[1, 1]",[0],0,0,0,1,1,1,1,1,0,0
1089196,"[1, 1, 1]","[1, 1, 1]","[1, 1, 1]",[0],0,0,0,1,1,1,1,1,1,1

In [5]:
#Read selected column
lists=[ 
    'Electron_cutBased',
    'Electron_genPartIdx',
    'Electron_genPartFlav',
    'GenJetAK8_partonFlavour',
    'GenJetAK8_hadronFlavour',
    'GenJet_partonFlavour',
    'GenJet_hadronFlavour',
    'Jet_genJetIdx',]
exp=pq.read_pandas('%s/TTJets_SingleLeptFromTbar_TuneCUETP8M1_13TeV-madgraphMLM-pythia8_ext1-v1.parquet' %PATH, columns=lists).to_pandas()

In [6]:
pd.DataFrame(exp['Electron_cutBased'])

        Electron_cutBased
0                     [0]
1                     [0]
2               [0, 0, 0]
3                  [0, 0]
4                     [0]
5                     [0]
6                     [0]
7                  [0, 0]
8                     [0]
9                  [0, 0]
10                    [0]
11                    [0]
12                    [0]
13                 [0, 0]
14                    [0]
15                    [0]
16                 [0, 0]
17                    [0]
18                 [0, 0]
19                    [0]
20                    [0]
21                    [0]
22                    [0]
23                 [0, 0]
24                    [0]
25                    [0]
26                    [0]
27              [0, 0, 0]
28                    [0]
29                    [0]
...                   ...
1089167               [0]
1089168            [4, 0]
1089169            [0, 0]
1089170            [0, 0]
1089171            [0, 0]
1089172               [0]
1089173            [0, 1]
1089174            [0, 0]
1089175      [0, 0, 0, 0]
1089176               [0]
1089177               [0]
1089178            [0, 0]
1089179               [0]
1089180               [0]
1089181               [0]
1089182         [0, 0, 0]
1089183               [0]
1089184               [0]
1089185            [0, 0]
1089186            [0, 0]
1089187               [0]
1089188               [0]
1089189               [0]
1089190            [0, 0]
1089191            [0, 0]
1089192               [0]
1089193               [0]
1089194               [0]
1089195               [0]
1089196               [0]

[1089197 rows x 1 columns]